apiVersion: v1
kind: Service
metadata:
  labels:
    app: maventomcat2
  name: maventomcat2
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: maventomcat2
